In [ ]:
import pandas as pd
bookings = pd.read_csv(r'I:\Отдел аналитики\Аналитика\Отчёты\Курсы\Karpov.Courses - Аналитик данных (2022)\Часть 1\Задания\Данные для Минипроектов\2_bookings.csv',
                       encoding='windows-1251', sep=';')
bookings.columns = (bookings.columns.str.lower()
                                    .str.replace(' ', '_'))

assigned_room_type
D    7586
E    1883
C    1492
B    1175
F    1044
G     512
A     455
I     363
K     279
H     128
Name: count, dtype: int64

In [ ]:
bookings.loc[bookings.is_canceled == 0].country.value_counts().head() # отбирает строки, удовлетворяющие условию "бронь не отменена", и считает количество таких броней для всех стран, выводя топ 5

In [ ]:
bookings.groupby(bookings.hotel, as_index=False).stays_total_nights.mean().round(2) # группировка по типу отеля и поиск среднего количества забронированных ночей

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [7]:
bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type].value_counts()

hotel         is_canceled  lead_time  arrival_full_date  arrival_date_year  arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  stays_total_nights  adults  children  babies  meal       country  reserved_room_type  assigned_room_type  customer_type    reservation_status  reservation_status_date
City Hotel    0            164        2015-10-02         2015               October             40                        2                          0                        2                     2                   1       0.0       0       BB         PRT      A                   D                   Transient-Party  Check-Out           2015-10-04                 35
                           69         2015-10-25         2015               October             44                        25                         2                        1                     3                   2       0.0       0       BB         PRT      A                   D                   Transient-Party  Check-Out           2015-10-28                 22
Resort Hotel  0            78         2015-11-21         2015               November            47                        21                         0                        1                     1                   2       0.0       0       BB         PRT      A                   D                   Transient-Party  Check-Out           2015-11-22                 19
City Hotel    0            72         2015-10-28         2015               October             44                        28                         0                        3                     3                   2       0.0       0       BB         ISR      A                   D                   Transient-Party  Check-Out           2015-10-31                 19
Resort Hotel  0            40         2017-01-16         2017               January             3                         16                         1                        2                     3                   1       0.0       0       Undefined  PRT      A                   D                   Transient-Party  Check-Out           2017-01-19                 16
                                                                                                                                                                                                                                                                                                                                                                              ..
City Hotel    0            178        2017-08-29         2017               August              35                        29                         0                        3                     3                   1       0.0       0       SC         BEL      A                   D                   Transient        Check-Out           2017-09-01                  1
                           0          2017-08-29         2017               August              35                        29                         0                        3                     3                   2       1.0       0       BB         ROU      A                   D                   Transient        Check-Out           2017-09-01                  1
                           25         2017-08-30         2017               August              35                        30                         0                        3                     3                   3       0.0       0       BB         ITA      E                   F                   Transient        Check-Out           2017-09-02                  1
                           332        2017-08-31         2017               August              35                        31                         0                        2                     2                   2       0.0       0       BB         GBR      D                   F                   Transient        Check-Out           2017-09-02                  1
                           47         2017-08-31         2017               August              35                        31                         1                        3                     4                   1       0.0       0       SC         PRT      A                   D                   Transient        Check-Out           2017-09-04                  1
Name: count, Length: 12116, dtype: int64

In [ ]:
bookings.loc[bookings.arrival_date_year == 2016].arrival_date_month.value_counts()
bookings.loc[bookings.arrival_date_year == 2017].arrival_date_month.value_counts()

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: count, dtype: int64

In [32]:
(bookings.groupby([bookings.arrival_date_year, bookings.arrival_date_month, bookings.hotel], as_index = False)
        .agg({'is_canceled' : 'sum'})
        .sort_values(by = ["is_canceled"], ascending=False))

    arrival_date_year arrival_date_month         hotel  is_canceled
50               2017                May    City Hotel         2217
32               2016            October    City Hotel         1947
36               2017              April    City Hotel         1926
46               2017               June    City Hotel         1808
24               2016               June    City Hotel         1720
34               2016          September    City Hotel         1567
10               2015          September    City Hotel         1543
12               2016              April    City Hotel         1539
28               2016                May    City Hotel         1436
30               2016           November    City Hotel         1360
44               2017               July    City Hotel         1324
8                2015            October    City Hotel         1321
48               2017              March    City Hotel         1278
14               2016             August    City Hotel         1247
0                2015             August    City Hotel         1232
38               2017             August    City Hotel         1123
26               2016              March    City Hotel         1108
16               2016           December    City Hotel         1072
42               2017            January    City Hotel         1044
22               2016               July    City Hotel         1043
40               2017           February    City Hotel          971
4                2015               July    City Hotel          939
18               2016           February    City Hotel          930
39               2017             August  Resort Hotel          693
2                2015           December    City Hotel          668
45               2017               July  Resort Hotel          660
47               2017               June  Resort Hotel          631
15               2016             August  Resort Hotel          578
33               2016            October  Resort Hotel          567
11               2015          September  Resort Hotel          551
51               2017                May  Resort Hotel          545
37               2017              April  Resort Hotel          537
13               2016              April  Resort Hotel          522
29               2016                May  Resort Hotel          479
23               2016               July  Resort Hotel          456
35               2016          September  Resort Hotel          455
20               2016            January    City Hotel          438
9                2015            October  Resort Hotel          411
19               2016           February  Resort Hotel          407
49               2017              March  Resort Hotel          394
41               2017           February  Resort Hotel          388
25               2016               June  Resort Hotel          376
27               2016              March  Resort Hotel          369
1                2015             August  Resort Hotel          366
17               2016           December  Resort Hotel          326
5                2015               July  Resort Hotel          320
3                2015           December  Resort Hotel          305
6                2015           November    City Hotel          301
31               2016           November  Resort Hotel          276
43               2017            January  Resort Hotel          206
7                2015           November  Resort Hotel          185
21               2016            January  Resort Hotel          119